.header{
    text-align: center;
}

h1{
    align-items: center;
    color: rgb(0, 204, 255);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    align-items: center;
    color: rgb(255, 0, 200);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color:Grey ;
    background-image: url(/aula1/imagens/background.jpg);
    background-repeat: no-repeat;
    background-size: 3000px;
}

div.box{
    width: 400px;
    display: inline-block;
}

#a1{
    font-size: 24px;

    color: orangered;
}
